<footer>
    <div class="container footer-css">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12 row-margin flex-components-column">
                Copyright © <%= new Date().getFullYear() %>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-6 row-margin flex-components-column">
                <div>Follow us</div>
                <div class="flex-components-column">
                    <a href="#" class="icon-links"><img src="twitter-x.svg" class="icon-margin">Twitter</a>
                    <a href="#" class="icon-links"><img src="instagram.svg" class="icon-margin">Instagram</a>
                    <a href="#" class="icon-links"><img src="facebook.svg" class="icon-margin">Facebook</a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-6 row-margin flex-components-column">
                <div>Contact us</div>
                <div class="flex-components-column">
                    <a href="#" class="icon-links"><img src="envelope-at-fill.svg" class="icon-margin">Email</a>
                    <a href="#" class="icon-links"><img src="telephone-fill.svg" class="icon-margin">Call</a>
                    <a href="#" class="icon-links"><img src="globe2.svg" class="icon-margin">Website</a>
                </div>
            </div>
        </div>
    </div> 
</footer>