<header class="flex-components-row">
    <div onclick="redirectToHome()">
        <img src="images/title-icon-transparent.png" class="blog-icon" />
        <h4>Hearty Blogs</h4>
    </div>

    <nav>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About Us</a>
            </li>
        </ul>
    </nav>
</header>

<script>
    function redirectToHome() {
        window.location.href = '/';
    }
</script>