<header class="flex-components">
    <div onclick="redirectToHome()">
        <img src="images/title-icon-transparent.png" class="blog-icon" />
        <h4>Hearty Blogs</h4>
    </div>

    <nav>
        <!-- <a href="/contact">Contact Us</a>
        <a href="/about">About Us</a> -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Theme</a>
                <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#"><i class="bi bi-sun-fill"></i>Light</a></li>
                <li><a class="dropdown-item" href="#"><i class="bi bi-moon-stars-fill"></i>Dark</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>

<script>
    function redirectToHome() {
        window.location.href = '/';
    }
</script>