<!DOCTYPE html>
<html lang="en" > <!--data-bs-theme="dark"-->
    <head>
        <%- include('./partials/head-tags.ejs') %>
    </head>

    <body class="font-varela-round">
        <!-- header -->
        <%- include('./partials/header.ejs') %>

        <div class="main-container">
            <div class="font-abril-fatface font-abril-4">Post it!</div>
            <form id="writePostForm" action="/submit" class="form-margin-css">
                <div class="form-css">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="blogTitle" placeholder="A trip to Zurich!" />
                        <label for="blogTitle" style="color: white;">Blog title</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="blogSummary" placeholder="This was my first trip to Zurich which is one of the most beautiful tourist places in the world." />
                        <label for="blogSummary" style="color: aliceblue;">Blog summary</label>
                    </div>
                    <div class="form-floating">
                        <textarea class="form-control" id="blogBody" placeholder="My trip to Zurich..."></textarea>
                        <label for="floatingTextarea">Blog</label>
                    </div>
                </div>
                <div class="post-buttons">
                    <a href="/"><button class="btn btn-danger">Close</button></a>
                    <a><button type="submit" class="btn btn-success">Post</button></a>
                </div>
            </form>
        </div>

        <!-- footer -->
        <%- include('./partials/footer.ejs') %>

        <script src="js/bootstrap.bundle.min.js"></script>
    </body>
</html>