<!DOCTYPE html>
<html lang="en" > <!--data-bs-theme="dark"-->
    <head>
        <%- include('./partials/head-tags.ejs') %>
    </head>

    <body class="font-varela-round">
        <!-- header -->
        <%- include('./partials/header.ejs') %>

        <div class="main-container">
            <div class="font-abril-fatface font-abril-4">About Us!</div>
            <div class="content-div-settings">
                <p style="text-align: center;">Welcome to <em><b>Hearty Blogs</b></em><br> - where words weave stories, ideas spark discussions, and creativity knows no bounds!</p>
                <p>We're more than just a blog platform; we're a space for dreamers, storytellers, and knowledge seekers to connect and share 
                their thoughts with the world. Whether you're an aspiring writer, a passionate thinker, or just someone who loves a good read, 
                this is your digital home.</p>
                <p style="text-align: center;">At <em><b>Hearty Blogs</b></em>, we believe that everyone has a voice, and every story matters. <br>
                Join our vibrant community, explore endless topics, and let your ideas take flight!</p>
            </div>

            <div class="btn-position-css">
                <a href="/"><button type="button" class="btn btn-css">Back to home</button></a>
            </div>
        </div>

        <!-- footer -->
        <%- include('./partials/footer.ejs') %>

        <script src="js/bootstrap.bundle.min.js"></script>
    </body>
</html>