<!DOCTYPE html>
<html lang="en" > <!--data-bs-theme="dark"-->
    <head>
        <%- include('./partials/head-tags.ejs') %>
    </head>

    <body>
        <!-- header -->
        <%- include('./partials/header.ejs') %>

        <div class="main-container">
            <div>About Us!</div>
            <div>
                Welcome to Hearty Blogs - where words weave stories, ideas spark discussions, and creativity knows no bounds!
                We're more than just a blog platform; we're a space for dreamers, storytellers, and knowledge seekers to connect and share 
                their thoughts with the world. Whether you're an aspiring writer, a passionate thinker, or just someone who loves a good read, 
                this is your digital home. At Hearty Blogs, we believe that everyone has a voice, and every story matters. 
                Join our vibrant community, explore endless topics, and let your ideas take flight!
            </div>
            
            <div class="image-div-setter">
                <img src="images/contact-us.gif" class="image-setter" alt="Contact us GIF"/>
            </div>

            <div>
                <a href="/"><button type="button" class="btn write-post">Back to home</button></a>
            </div>
        </div>

        <!-- footer -->
        <%- include('./partials/footer.ejs') %>

        <script src="js/bootstrap.bundle.min.js"></script>
    </body>
</html>